body {
    background-color: #fff0ff;
}

h1 {
      font: bold 22px serif;
      border-style: none none solid;
      border-color: #ff00ff
}
   
h2 {
      font: bold 18px serif;
      border-style: none none solid;
      border-color: #ff00ffb
}

p {
    font: 12px serif;
      border-style: solid;
      border-color: #ff00ff;
}
