body {
    background-color: #fff0ff;
}

h1 {
      font: bold 22px serif;
      border-style: none none solid;
      border-color: #ffb0ff;
      text-align: center;
}
   
h2 {
      font: bold 18px serif;
      border-style: none none solid;
      border-color: #ffb0ff;
      text-align: center;
}

p {
    font: 12px serif;
      border-style: dotted;
      border-color: #ffb0ff;
}
