/*background color*/
body {
    background-color: #fff6c7;
    margin: 100px;
}

/*large headers*/
h1 {
      font: bold 22px serif;
      color: #630a01;
      border-style: none none solid;
      border-color: #200300;
      text-align: center;
}

/*medium headers*/
h2 {
      font: bold 18px serif;
      color: #630a01;
      border-style: none none solid;
      border-color: #630a01;
      text-align: center;
}

/*paragraphs*/
p {
     font: 12px serif;
     color: #630a01;
     margin: 25px 250px 25px 250px;
}

/*paragraphs for excerpts*/
p.excerpt {
     font: 12px serif;
     color: #630a01;
     border-style: outset;
     border-color: #cfa26b;
     background-color: #ffcd8f;
     padding: 15px;
}
     
/*images*/
img {
     max-width: 100%;
     height: auto;
     border: double;
     border-color: #630a01;
     display: block;
     margin-left: auto;
     margin-right: auto;
}

/*links*/
a:link {
     font: 12px serif;
     font-style: italic;
     font-color: #630a01;
}

/*buttons*/
.button {
     background-color: #630a01;
     border: outset;
     border-color: #400600;
     padding: 16px 32px;
     display: block;
     text-aligh: center;
     color: #ffffff;
     text-decoration: none;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
}
     
    
